body{
  color: white;
  text-align: center;
  background-color:#31493C;
}
.subheading {
  color:white;
  font-weight: bold;
}

.heading {
  color: white;
  font-weight: 900;
  background-color: #52b788;
}

table, th, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
}
a:link, a:visited {
  background-color: #7A9E7E;
  color: #B3EFB2;
  border: 2px green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  font-size: 30px;}

.2ndlink {
  color:white;
  font-weight: bold;}
  

a:hover, a:active
{background-color:#000000;
  color: white;}
