body{
  color: white;
  text-align: center;
  background-color:#31493C;
}
.subheading {
  color:white;
  font-weight: bold
  font-family: Georgia;
}

.heading {
  color: white;
  font-weight: 900;
  background-color: #A3C9A8;
  font-family: Georgia;
}

.text{
text-align: left
font-family: Verdana;
}

table, th, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
}



.button {
  background-color: #69A297;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 50px;
  width: 470px;
  height:300px;
}



.button:hover {
  background-color: black;
  color: white;
}

/*
.button {
  background-color: #DA7635;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 50px;
  width: 470px;
  height:300px
  font-family:Georgia;
}
*/



 




a.two { color:white;}
a.two:hover {color:black;}
a.two {font-weight: bold;}
a.two:visited {color:white;}
  


